@model Data.Entities.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create Reservation</h1>
<hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Reservations" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ReservationHolderId" class="control-label"></label>
                    <select asp-for="ReservationHolderId" class="form-control" asp-items="ViewBag.ReservationHolderId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="WaiterId" class="control-label"></label>
                    <select asp-for="WaiterId" class="form-control" asp-items="ViewBag.WaiterId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input type="date" asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Time" class="control-label"></label>
                    <input type="time" asp-for="Time" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
