@model Data.Entities.Reservation

@{
    ViewData["Title"] = "Error";
}

<h1>This Waiter has already maximum of his reservation handle capacity. Try with other waiter!</h1>
<div>
    <a asp-action="Index">Back to List</a>
</div>
